form{
    background-color: rgb(186, 194, 202);
    border-width:2px;
    border-style:solid;
    border-color:black;
    height: 250px;
    width: 400px;
}
legend{
    padding-top: 20px;
}

legend, .d4{
    text-align: center;
    font-size: 30px;
}

.d1, .d2, .d3{
    padding-left: 30px;
}

.d4{
    margin-top: 20px;
    padding: 5px;
}

.d1 label, .d2 label{
    padding-right: 20px;
}

.d3 label{
    padding-left: 10px;
}

.d4:hover{
    color: gray;
}
