/*h1, nav{
    text-align: center;
    list-style-position: inside;
}

ul{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   column-gap: 0;
}*/

body{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

h1{
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
}

nav{
    grid-row: 2;
    grid-column: 2;
    list-style-position: inside;
    justify-self: center;
}

/*ul{
    display: flex;
    flex-direction: row;
    justify-self: space-between;
}*/


.conteneur1{
    display: grid;
    grid-row: 3;
    grid-column: 1;
}
.conteneur2{
    display: grid;
    grid-row: 3;
    grid-column: 2;
}

.conteneur3{
    display: grid;
    grid-row: 3;
    grid-column: 3;
}

footer{
    grid-row: 4;
    grid-column: 1/span 3;
}

