.tableau1{
    border: thick double blueviolet;
    border-collapse: collapse;
    text-align: center;
}

.tableau1 thead{
    background-color: cornflowerblue;
}

.tableau1 caption{
    color: blueviolet;
}

table, thead, tbody{
    border: solid black 2px;
    border-collapse: collapse;
    text-align: center;
}

tr, th, td{
    border: solid black 2px;
}

