h1{
    color: red;
    text-align: center;
    font-size: 3em;
}

h3{
    font-size: 1.8em;
    color: blue;
}

p{
    background-color: darkgrey;
    font-size: 1.1em;
}

strong{
    font-weight: normal;
    color: greenyellow;
}

em{
    font-style: normal;
    text-decoration: underline;
    font-size: 1.3em;
    color: orange;
}

.pinkColor{
    background-color: pink;
}

#title2{
    color: green;
    text-decoration: underline;
    text-align: right;
}