/******************
        BASE
*******************/


//COULEUR

$primaryColor: orange;
$secondaryColor: red;
$thirdColor: green;
$textColor: black;

// FONT-FAMILY

$fontRegularText: helvetica, verdana, arial, sans-serif;
$fontBigTitle: abrilFatFace;


//FONT-SIZE

$bigTitleSize: 3rem;